 <style>
   .hi-svg-inline {
      margin-right: 5px;
      vertical-align: bottom;
   }
 </style>

<div style="display: flex; justify-content: space-between;">
   <blockquote style="flex-shrink: 1; margin-right: 20px;">
      {{ $ctx := dict
         "vendor" "fas"
         "name" "quote-left"
         "color" "#0A91B1"
         "size" "2.5em"
      }}
      {{ partial "icons/icon" $ctx }}
      "{{ .Get "quote1" | markdownify }}"
      <br><br>
      <footer>{{ .Get "author1" | markdownify }}</footer>
   </blockquote>
   <blockquote style="flex-shrink: 1;">
      {{ partial "icons/icon" $ctx }}
      "{{ .Get "quote2" | markdownify }}"
      <br><br>
      <footer>{{ .Get "author2" | markdownify }}</footer>
   </blockquote>
</div>
