<div style="background: linear-gradient({{ .Get "angle" }}, {{ .Get "fromcolor" }}, {{ .Get "tocolor" }}); border-radius: 15px; padding: 20px; margin: 10px 0;">
   <p style="font-size: 200%; text-align: center; color: {{ .Get "textcolor" }};"><b>{{ .Get "title" | markdownify }}</b></p>
   <p style="font-size: 125%; text-align: center; color: {{ .Get "textcolor" }};">{{ .Get "text" | markdownify }}</p>
   {{ if .Params.text2 }}
      <p style="font-size: 125%; text-align: center; color: {{ .Get "textcolor" }};">{{ .Get "text2" | markdownify }}</p>
   {{ end }}
   {{ if .Params.text3 }}
      <p style="font-size: 125%; text-align: center; color: {{ .Get "textcolor" }};">{{ .Get "text3" | markdownify }}</p>
   {{ end }}
</div>